
/* DejaVu Sans Oblique */
@font-face {
    font-family:  'DejaVu Sans';
    src:          url('DejaVuSans-Oblique.eot');
    src:          local('*'),
                  url('DejaVuSans-Oblique.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSans-Oblique.otf') format('opentype'),
                  url('DejaVuSans-Oblique.ttf') format('truetype'),
                  url('DejaVuSans-Oblique.woff') format('woff'),
                  url('DejaVuSans-Oblique.svg#DejaVuSans-Oblique') format('svg');
    font-style:   oblique;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

