
/* DejaVu Sans Condensed */
@font-face {
    font-family:  'DejaVu Sans Condensed';
    src:          url('DejaVuSansCondensed.eot');
    src:          local('*'),
                  url('DejaVuSansCondensed.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSansCondensed.otf') format('opentype'),
                  url('DejaVuSansCondensed.ttf') format('truetype'),
                  url('DejaVuSansCondensed.woff') format('woff'),
                  url('DejaVuSansCondensed.svg#DejaVuSansCondensed') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

