
/* DejaVu Sans Mono Oblique */
@font-face {
    font-family:  'DejaVu Sans Mono';
    src:          url('DejaVuSansMono-Oblique.eot');
    src:          local('*'),
                  url('DejaVuSansMono-Oblique.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSansMono-Oblique.otf') format('opentype'),
                  url('DejaVuSansMono-Oblique.ttf') format('truetype'),
                  url('DejaVuSansMono-Oblique.woff') format('woff'),
                  url('DejaVuSansMono-Oblique.svg#DejaVuSansMono-Oblique') format('svg');
    font-style:   oblique;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

