
/* DejaVu Sans ExtraLight */
@font-face {
    font-family:  'DejaVu Sans Light';
    src:          url('DejaVuSans-ExtraLight.eot');
    src:          local('*'),
                  url('DejaVuSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSans-ExtraLight.otf') format('opentype'),
                  url('DejaVuSans-ExtraLight.ttf') format('truetype'),
                  url('DejaVuSans-ExtraLight.woff') format('woff'),
                  url('DejaVuSans-ExtraLight.svg#DejaVuSans-ExtraLight') format('svg');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

