
/* DejaVu Sans Condensed Oblique */
@font-face {
    font-family:  'DejaVu Sans Condensed';
    src:          url('DejaVuSansCondensed-Oblique.eot');
    src:          local('*'),
                  url('DejaVuSansCondensed-Oblique.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSansCondensed-Oblique.otf') format('opentype'),
                  url('DejaVuSansCondensed-Oblique.ttf') format('truetype'),
                  url('DejaVuSansCondensed-Oblique.woff') format('woff'),
                  url('DejaVuSansCondensed-Oblique.svg#DejaVuSansCondensed-Oblique') format('svg');
    font-style:   oblique;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

