
/* DejaVu Sans Mono Bold Oblique */
@font-face {
    font-family:  'DejaVu Sans Mono';
    src:          url('DejaVuSansMono-BoldOblique.eot');
    src:          local('*'),
                  url('DejaVuSansMono-BoldOblique.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSansMono-BoldOblique.otf') format('opentype'),
                  url('DejaVuSansMono-BoldOblique.ttf') format('truetype'),
                  url('DejaVuSansMono-BoldOblique.woff') format('woff'),
                  url('DejaVuSansMono-BoldOblique.svg#DejaVuSansMono-BoldOblique') format('svg');
    font-style:   oblique;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

