
/* DejaVu Sans Mono Bold */
@font-face {
    font-family:  'DejaVu Sans Mono';
    src:          url('DejaVuSansMono-Bold.eot');
    src:          local('*'),
                  url('DejaVuSansMono-Bold.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSansMono-Bold.otf') format('opentype'),
                  url('DejaVuSansMono-Bold.ttf') format('truetype'),
                  url('DejaVuSansMono-Bold.woff') format('woff'),
                  url('DejaVuSansMono-Bold.svg#DejaVuSansMono-Bold') format('svg');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

