
/* DejaVu Sans Bold */
@font-face {
    font-family:  'DejaVu Sans';
    src:          url('DejaVuSans-Bold.eot');
    src:          local('*'),
                  url('DejaVuSans-Bold.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSans-Bold.otf') format('opentype'),
                  url('DejaVuSans-Bold.ttf') format('truetype'),
                  url('DejaVuSans-Bold.woff') format('woff'),
                  url('DejaVuSans-Bold.svg#DejaVuSans-Bold') format('svg');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

