
/* DejaVu Sans */
@font-face {
    font-family:  'DejaVu Sans';
    src:          url('DejaVuSans.eot');
    src:          local('*'),
                  url('DejaVuSans.eot?#iefix') format('embedded-opentype'),
                  url('DejaVuSans.otf') format('opentype'),
                  url('DejaVuSans.ttf') format('truetype'),
                  url('DejaVuSans.woff') format('woff'),
                  url('DejaVuSans.svg#DejaVuSans') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

